<%= erb :_header, :locals => { :title => "All series"} %>

<div class="span3">
  <h2>All Series</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @all_series.each do |item| %>
        <tr>
          <td> <%= item.name %> </td>
          <td>
              <% if not @my_series.member?(item) %>
                <a href="/subscribe?id=<%= item.id %>">
                  <i class="icon-plus"> </i> 
                </a>
              <% else %>
                <a href="/remove-subscription?id=<%= item.id %>">
                  <i class="icon-minus"> </i> 
                </a>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= erb :_footer %>